*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 100px;
    background-color: #343a40;
    width: 100%;
 }
.menu {
width: 55%;
margin: auto;
}

.menu ul{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
padding: 23px 0px 0px 0px;
}
.menu ul li{
margin-left: 15px;
}
.menu ul li a{
text-decoration: none;
color: #fff;
font-size: 15px;
margin-left: 10px;
text-transform: uppercase;
}
.menu ul li img{    
margin-left: 10px;
}

.full_content{

background-image: url(../images/background.jpg);

height: 1219px;

background-size: cover;

background-repeat: no-repeat;

background-position: center center;

display: flex;

justify-content: center;

align-items: center;
}
.art_reg{
    
width: 80%;
    
display: flex;
    
justify-content: center;
}

.article{

width: 60%;
}
.article h1{

font-size: 71px;

color: #fff;

margin-bottom: 15px;
}
.article h1 span{
    
color: green;
}
.article h2{

color: #fff;

font-size: 20px;

margin-bottom: 25px;
}
.article ul{

}
.article ul li{

list-style: none;

color: #fff;

font-size: 25px;
}
.article ul li i{

font-weight: 900;

border: 3px solid #fff;

border-radius: 50%;

font-size: 10px;

padding: 3px;
}

.article button{

height: 40px;

width: 25%;

border: none;

padding: 10px;

border-radius: 50px;

margin-top: 20px;

color: #fff;

text-transform: uppercase;

background: #6dbd6d;
}
.register{

width: 50%;

height: 100%;

display: flex;

justify-content: center;

align-items: center;
}

.reg{

border-radius: 5px;

background-color: #6dbd6d;

width: 60%;

min-height: 20%;

padding: 70px 25px;
}

.reg h1{

color: #fff;

text-align: center;

font-size: 35px;

text-transform: uppercase;

margin-bottom: 20px;
}
.reg h2{

color: #fff;

font-size: 20px;

margin-bottom: 40px;

text-align: center;
}
.reg input{

margin-top: 15px;

height: 45px;

width: 95%;

padding: 10px;
}
.reg input[type="submit"] {

border: none;

background: #529252;

color: #fff;

font-size: 25px;

width: 100%;

border-radius: 3px;

box-shadow: 1px 6px 0px #447b44;
}
